body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #24292e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App{
  width: 60%;
  margin-top: 20px !important;
  background-color: whitesmoke;
  display: flex;
  min-height: 200px;
  border-radius: 6px;
  align-items: unset;
  margin: auto;
  display: flex;
  min-height: 310px;
  flex-direction: column;
}

.List{
  height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    line-height: 45px;
    /* flex-flow: column; */
    background-color: indianred;
}

form > input {
  margin-right: 10px;
}

.Results{
  width: 80%;
  display: block;
  margin: 16px auto;
  height: 100%;
  min-height: 230px;
  background-color: mediumaquamarine;
  border-radius: 7px;
}

.Results ul hr{
  margin-right: 13%;
  border-top: 1px solid;
}

.theList {
  color: white;
  display: block;
  text-align: left;
  text-transform: none;
}
.theList.placeholder {
    color: dimgrey;
    opacity: 0.7;
    text-transform: none;
}

